<div class="user-reset-password-main-container">

    <div class="user-reset-password-image-container">
        <h1>Reset Password</h1>
        <img src="../../../assets/imgs/reset-password.png" alt="">
    </div>

    <div class="user-reset-password-form-container">
        <form #userUpdateProfile="ngForm" (ngSubmit)="onSubmit(userUpdateProfile)">

            <div class="form-group">
                <label for="Password">Password <span class="required-field-label">*</span>:</label>
                <input type="text" id="Password" class="form-control" ngModel name="Password" required />
            </div>
            <div class="form-group">
                <label for="ConfirmPassword">Confirm Password<span class="required-field-label">*</span>:</label>
                <input type="text" id="ConfirmPassword" class="form-control" ngModel name="ConfirmPassword" required />
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="invalidForm">
                Please enter valid details
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="passwordMisMatch">
                Password does not match with Confirm Password
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="weakPasswordWarn">
                Password Requirements: At least 8 characters with at least 1 alphabet, 1 special character, and 1
                number.
            </div>

            <div class="update-profile-update-action-contianer update-profile-action-container">
                <button type="button" class="btn btn-primary" type="submit">Update Password</button>
                <button type="button" class="btn btn-outline-primary" routerLink="/user-profile">Cancel</button>
            </div>
        </form>
    </div>
</div>