.user-reset-password-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 65%;
  margin: 50px auto;
}

.user-reset-password-image-container {
  width: 30%;
  text-align: center;
}

.user-reset-password-image-container img {
  height: 300px;
}

.user-reset-password-form-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 5px 10px 0 0;
}
