.image-container {
  position: relative;  
}

img{
  z-index: -1;
}

.category-lable {
  background-color: #cfe2ff;
  position: absolute;
  top: 0;
  left: 6%;
  padding: 7px;
  border-radius: 5%;
}

.product-main-container:hover .product-action-container {
  visibility: visible;
}

.product-action-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  padding: 0 30%;
}

.product-action-container button {
  color: white;
  z-index: 100;
}

.material-icons:hover {
  cursor: pointer;
}

button {
  height: 40px;
}

.seller-lable {
  background-color: rgb(189, 189, 189);
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 6%;
  padding: 7px;
  border-radius: 5%;
  z-index: 0;
}
