<div class="product-main-container">
  <div class="image-container">
    <img [src]="
     'https://source.unsplash.com/300x300/?' + product?.Name
      " alt="product" />
    <p class="category-lable">{{ product?.Category }}</p>

    <div class="product-action-container" *ngIf="editAccess">
      <button type="button" class="btn btn-dark" (click)="deleteProduct(product?.id)">
        <i class="material-icons">delete</i>
      </button>
      <button type="button" class="btn btn-dark" (click)="updateProduct(product?.id)">
        <i class="material-icons">edit</i>
      </button>
    </div>

    <p class="seller-lable" *ngIf="storeLabelVisibility">
      {{product?.StoreName}} store
    </p>

  </div>

  <div class="product-info-container">
    <div class="product-info-heading-container">
      <h3>{{ product?.Name }}</h3>
      <h3>price- {{ product?.Price }}$</h3>
    </div>

    <p>available items- {{ product?.Quantity }}</p>
    <p>
      payments accepted in
      {{ product?.PaymentMethod ? product?.PaymentMethod : "any method" }}
    </p>
  </div>
</div>