.image-container{
  position: relative;
}

.category-lable {
  background-color: #cfe2ff;
  position: absolute;
  top: 0;
  left: 6%;
  padding: 7px;
  border-radius: 5%;
}

.product-main-container:hover .product-action-container {
    visibility: visible;
}

.product-action-container {
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin: auto;
    visibility: hidden;
}

.material-icons:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s;
}

button{
  height: 40px;
}
