<div class="product-main-container">
  <div class="product-image-container" [ngSwitch]="cartButton">
    <img [src]="'https:///source.unsplash.com/300x300/?' + product?.Name" alt="" *ngSwitchCase="false" />
    <img [src]="'https:///source.unsplash.com/300x300/?' + productParam?.cartProduct?.Name" alt=""
      *ngSwitchCase="true" />
  </div>
  <div class="product-details-container">
    <div class="product-name-conteiner" [ngSwitch]="cartButton">
      <h2 class="product-name alert alert-primary" *ngSwitchCase="false">{{ product?.Name }}</h2>
      <h2 class="product-name alert alert-primary" *ngSwitchCase="true">{{ productParam?.cartProduct?.Name }}</h2>
      <!-- {{ productParam?.cartProduct?.Name }} -->
    </div>
    <div class="product-price-conteiner" [ngSwitch]="cartButton">
      <p class="product-price" *ngSwitchCase="false">Price- ${{ product?.Price }}</p>
      <p class="product-price" *ngSwitchCase="true">Price- ${{ productParam?.cartProduct?.Price }}</p>
    </div>
    <div class="product-category-conteiner" [ngSwitch]="cartButton">
      <p class="product-category" *ngSwitchCase="false">category- {{ product?.Category }}</p>
      <p class="product-category" *ngSwitchCase="true">category- {{ productParam?.cartProduct?.Category }}</p>
    </div>
    <div class="product-quantity-conteiner" [ngSwitch]="cartButton">
      <p class="product-category" *ngSwitchCase="false">quantity available- {{ product?.Quantity }}</p>
      <p class="product-category" *ngSwitchCase="true">quantity available- {{ productParam?.cartProduct?.Quantity }}
      </p>
    </div>
    <div class="product-storeName-conteiner" [ngSwitch]="cartButton">
      <p class="product-storeName alert alert-secondary" *ngSwitchCase="false">
        from {{ product?.StoreName }} store
      </p>
      <p class="product-storeName alert alert-secondary" *ngSwitchCase="true">
        from {{ productParam?.cartProduct?.StoreName }} store
      </p>
    </div>

    <div class="product-action-container">
      <button class="btn btn-primary" *ngIf="!cartButton" (click)="product && addToCart(product)">add to cart</button>
      <button type="button" class="btn btn-dark" (click)="openSellerStore()">Visit store</button>
    </div>
  </div>
</div>