/* You can add global styles to this file, and also import other style files */
button, .logo, .ul-links li{
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    width: 64%;
    margin: auto;
}

form .form-group
{
    margin: 5px 0;
}

.required-field-label{
    color: red;
}

.app-bg-color{
background-color: #006a9c;
}

.app-text-color{
color: #006a9c;
}

.btn-general-height{
    height: 36px;
}

.cursor-pointer{
    cursor: pointer;
}

.material-icons{
    cursor: pointer;
}