<div class="seller-auth-main-container">

  <div id="seller-auth-instruct-container" class="seller-auth-container">
    <h1 class="seller-form-heading">
      {{ loginPage ? "Seller Log in" : "Seller Sign up" }}
    </h1>
    <br />
    <img src="../../../assets/imgs/images-removebg-preview.png" alt="seller" />
  </div>

  <div id="seller-auth-form-container" class="seller-auth-container">
    <form #sellerSignUp="ngForm" (ngSubmit)="onSubmit(sellerSignUp)">
      <div class="form-row">
        <div class="form-group col-md-5" *ngIf="!loginPage">
          <label for="FName"
            >First Name<span class="required-field-label">*</span>:</label
          >
          <input
            type="text"
            id="FName"
            class="form-control"
            required
            ngModel
            name="FName"
          />
        </div>

        <div class="form-group col-md-5" *ngIf="!loginPage">
          <label for="LName"
            >Last Name<span class="required-field-label">*</span>:</label
          >
          <input
            type="text"
            id="LName"
            class="form-control"
            required
            ngModel
            name="LName"
          />
        </div>
      </div>

      <div class="form-group" *ngIf="!loginPage">
        <label for="Store">Store Name<span class="required-field-label">*</span>:</label>
        <input type="text" 
        id="Store"
        class="form-control"
        required
        ngModel
        name="StoreName">
      </div>

      <div class="form-group">
        <label for="Email"
          >Email<span class="required-field-label">*</span>:</label
        >
        <input
          type="email"
          id="Email"
          class="form-control"
          required
          ngModel
          name="Email"
        />
      </div>

      <div class="form-group">
        <label for="Password"
          >Password<span class="required-field-label">*</span>:</label
        >
        <input
          type="password"
          id="Password"
          class="form-control"
          required
          ngModel
          name="Password"
        />
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="invalidSubmission">
        Please enter all required fields in proper format!
      </div>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="wrongLoginCredentialSubmission"
      >
        wrong credentials!
      </div>

      <button class="btn btn-primary btn-general-height">
        {{ loginPage ? "Login" : "Sign up" }}
      </button>
      <span
        >{{ loginPage ? "Need an account?" : "Already have an account?" }}
        <span
          (click)="toggelLoginSignup()"
          class="toggelLoginSignupLink app-text-color"
          >{{ loginPage ? "Sign up" : "Log in" }}</span
        ></span
      >
    </form>
  </div>
</div>
