<div class="cart-main-container">
    <div class="navigate-home-btn-container">
        <button type="button" class="btn btn-dark" routerLink="/">
            ˂ Home
        </button>
    </div>

    <div class="cart-products-container">
        <div class="card shadow cart-amount-container" *ngIf="calculateCartAmount()!=0">
            <h2>Cart Amount: ${{calculateCartAmount()}}</h2>
        </div>

        <div *ngIf="userCart?.length==0" class="cart-empty-statement">
            <h2>Empty Cart!</h2>
        </div>
        <div class="cart-product-container" *ngFor="let cartProduct of userCart?.reverse()">
            <app-product [cartButton]="true" [productParam]="cartProduct"></app-product>
            <div class="cart-product-main-action-container">
                <div class="cart-product-info-container">
                    <h4>
                        Quantity- {{cartProduct.quantity}}
                    </h4>
                    <h4>
                        Price(Product Price x Product Quantity) - ${{cartProduct.cartProduct.Price*
                        cartProduct.quantity}}
                    </h4>
                </div>

                <div class="cart-product-action-container">
                    <i class="material-icons"
                        (click)="removeProductQuantity(cartProduct.userId, cartProduct.cartProduct.id, false)">remove</i>
                    <i class="material-icons"
                        (click)="addProductQuantity(cartProduct.userId, cartProduct.cartProduct.id, true)">add</i>
                    <i class="material-icons"
                        (click)="deleteProductFromUserCart(cartProduct.userId, cartProduct.cartProduct.id)">delete</i>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <div class="cart-action-contianer alert alert-dark">
        <button type="button" class="btn btn-primary" (click)="clearCartProducts()"
            [disabled]="userCart?.length==0">Clear
            Cart</button>
        <button type="button" class="btn btn-primary" (click)="orderCartProducts()" [disabled]="userCart?.length==0">Order
            now</button>
    </div>
</div>